.world-clock-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 2px solid #fac931;
  border-right: 2px solid #fac931;
  border-bottom: 2px solid #fac931;
  border-left: 2px solid #fac931;
}

.utc-timestamp {
color: blue;
}

.unix-timestamp {
color: #ff0fd7;
}

.gmtoffset {
color: #000000;
font-size: 11px;
}

.world-clock {
margin-top: 30px;
font-family: 'Pangolin', cursive;
font-size: 18px;

}


.world-time-text {
margin-bottom: 5px;
margin-left: 7px;
margin-right: 7px;
border-top: 2px solid black;
text-align: center;
justify-content: center;
align-items: center;
display: flex;
color: black;
font-size: 11px;
font-family: 'Noto Sans TC', sans-serif;
}